<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MiConexion"
			 connectionString="Data Source=DESKTOP-7PRIGRF\SQLEXPRESS;Initial Catalog=pruebademo;Integrated Security=True;
"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>